.contain {
    display: flex;
    justify-content: center;
    max-width: 100%;
  }
.container {
    text-align: center;
  }
  
  #logo {
    position: fixed; /* Position relative to the viewport */
    pointer-events: none;
    z-index: 10;
    color: white;
   /* Keeps the logo fixed in position */
    bottom: 30px;    /* Adjust as needed */
    right: 80px;     /* Adjust as needed */
    width: 130px;    /* Fixed width */
    height: auto;    /* Maintains aspect ratio */
    max-width: 100%; 
  }
  